@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #212529;
}

/* navbar section */
.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(108, 117, 125, 0.90);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar .logo {
    padding: 0px 15px;
    color: #adb5bd;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .nav-content {
    padding: 0px 15px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar .nav-content .nav-link {
    margin: 0px 10px;
    color: #adb5bd;
    text-decoration: none;
    padding: 5px 0px;
    transition: 0.1s;
}

.navbar .nav-content .nav-link:hover {
    color: #ced4da ;
}

.navbar .contact a{
    font-size: 1.5em;
    color: #adb5bd;
    text-decoration: none;
    transition: 0.2s;
}

.navbar .contact a:hover{
    color: #212529;
}

/* main section */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    font-family: roboto slab;
    font-size: 2em;
    color: #adb5bd;
    width: 100vw;
    height: 100vh;
    margin: 300px 0px 0px 0px;
    box-sizing: border-box;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main-content .main-right{
    width: 100%;
    align-items: center;
    text-align: center;
}

/* about secion */
.about-container {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.about-content .about-left {
    width: 50%;
    align-items: center;
    color: #adb5bd;
}

.about-left .skills {
    font-size: 0.8em;
}

input[type="range"] {
    -webkit-appearance: none;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #adb5bd;
    width: 200px;
    height: 7px;
    border: none;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #6c757d;
    margin-top: -4px;
}

.about-content .about-right {
    width: 50%;
    height: 100%;
}

.about-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0px 10px 40px rgb(0, 0, 0));
}

.about-left .my-para {
    font-family: roboto slab;
    color: #adb5bd;
}


/* about section ends */


.hobbies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% 0px 10%;
    color: #adb5bd;
    font-family: 'Times New Roman', Times, serif;
}
.hobbies-container h1{  
    font-size: 2em;
}

.hobbies-container .all-hobbies{
    font-family: Roboto Slab;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-hobbies .hobbie{
    border-radius: 10px;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #343a40;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 15em;
    color: adb5bd;
    margin: 8% 2% 4%;
    transition: 0.5s;
}

.all-hobbies .hobbie:hover{
    height: 20em;
    cursor: pointer;
    
}

.all-hobbies .hobbie .image{
    position: absolute;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    top: 5%;
    background-color: #343a40;
    transition: 0.75s;
    overflow: hidden;
}

.all-hobbies .hobbie:hover .image{
    top: -20%;
    scale: 0.75;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);
}

.all-hobbies .hobbie .image img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

.all-hobbies .hobbie .hobbie-content{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 3%;
    top: 70%;
    overflow: hidden;
    transition: 0.5s;
}
.all-hobbies .hobbie .hobbie-content p{
    display: none;
    padding: 0.5% 3%;
    transition: 0.5s;
}

.all-hobbies .hobbie .hobbie-content a{
    display: none;
    text-decoration: none;
}
.all-hobbies .hobbie:hover .hobbie-content a{
    top: -5px;
    display: inline;
    color: #adb5bd;
}
.all-hobbies .hobbie:hover .hobbie-content > p{
    display: block;
}

.all-hobbies .hobbie:hover .hobbie-content{
    top: 40%;
}

@media (max-width:600px){
    .all-hobbies{
        display: block;
        flex-wrap: wrap;
    }
}
    

/* main section ends */

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #adb5bd;
    margin-top: 10%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* width: 100%; */
}

form label {
    font-size: 14px;
    color: #adb5bd;
    cursor: pointer;
    font-family: roboto slab;
}

form label,
form input,
form textarea {
    float: left;
    clear: both;
    background-color: #212529;
}

form input, form textarea {
    margin: 15px 0;
    padding: 10px 10px;
    width: 80%;
    outline: none;
    border: 1px solid #6c757d;
    border-radius: 10px;
    color: #adb5bd;
}

form textarea{
    resize: none;
    scroll-behavior: smooth;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(156, 152, 152, 0.3);
    border-radius: 30px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}

form input[type=text]:focus,
form input[type="number"]:focus,
form textarea:focus {
    border-color: #ced4da;
    background-color: #212529;
    caret-color: #ced4da;
    color: #adb5bd;
}

input[type="submit"] {
    padding: 10px 20px;
    width: auto;
    background: #495057;
    border: none;
    border-radius: 20px;
    color: adb5bd;
    font-family: roboto slab;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background: #6c757d ;
}

.footer-right,
.footer-left {
    width: 400px;
    height: 100%;
    padding: 10px;
    align-items: center;
}

.footer-left{
    border-right: 1px solid #adb5bd;
}

.footer-content h1 {
    font-size: 2rem;
    color: #adb5bd;
}

.footer-content p {
    padding: 0% 15%;
    color: #adb5bd;
    font-family: roboto slab;
}

.socials a {
    width: 50px;
    height: 40px;
    color: #adb5bd;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.socials a:hover {
    transform: scale(1.25);
}

p.copyright {
    font-size: 0.8rem;
    color: #adb5bd;
    font-family: roboto slab;
}

.copyright a {
    text-decoration: none;
    padding: 0px 4px 0px 2px;
    color: #adb5bd;
    cursor: text;
}

@media (max-width:600px) {
    .about-content {
        display: block;
        padding: 3%;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .footer-left{
        border-bottom: 1px solid #adb5bd;
        border-right: none;
        padding-left: 60px;
        box-sizing: border-box;
    }

    .about-left {
        display: inline;
        width: 100%;
    }

    .all-hobbies .hobbie{
        align-self: center;
    }
}

